.tac { text-align: center;}
.tar { text-align: right;}
.tal { text-align: left;}
.w100 {width: 100px;}
.mt20 {margin-top: 20px;}
.mt50 {margin-top: 50px;}
.mb50 {margin-bottom: 50px}
.m0 {margin: 0;}
.dm {margin: 15px;}

