
* {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}

body {
    background-color: #bcdce8;
    color:#1D242B;
    font-size: 14pt;
    padding: 10px 0 0 0;

}

.message {
    background-color: #C7EEFF;
    margin: 15px 270px;
    padding: 5px 1px;
    border-radius: 8px;
    font-size: 14pt;
    box-shadow: 0 1px 1px rgb(185, 185, 185);

}

.btn {
    background-color: #C7EEFF;
    margin: 10px 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: transparent 1px solid;
    border-radius: 8px;
    font-size: 12pt;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.btn:hover {
    background-color: #0077C0;
    color: white;
    box-shadow: 0 1px 1px rgb(185, 185, 185);
    border: 1px #0077C0 solid;
    transition: 0.5s;
}

.btn-check {
    background-color: #C7EEFF;
    cursor: pointer;
    border: transparent 1px solid;
    border-radius: 8px;
    font-size: 12pt;
    padding: 4px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;

}

.btn-check:hover {
    background-color: #0077C0;
    color: #fff;
    transition: 0.5s;
    box-shadow: 0 1px 1px rgb(185, 185, 185);

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
    -webkit-box-shadow: 0 0 0 30px #FAFAFA inset !important;
}
input {
    border: 1px solid #c2c2c2;
    font-size: 13pt;
    padding: 8px 10px;
    margin: 10px;
    width: 500px;
    border-radius: 8px;
    transition: 0.5s;
    background-color: #FAFAFA;
}
input:hover {
    border: 1px solid #0077C0;
    box-shadow: 0 1px 1px rgb(204, 204, 204);
    transition: 0.5s;
    outline: none;
}

input:focus {
    box-shadow: 0 1px 1px rgb(204, 204, 204);
    outline: none;
    border: 1px solid #0077C0;

}


textarea {
    background-color: #FAFAFA;
    border: 1px solid #c2c2c2;
    font-size: 13pt;
    padding: 8px 10px;
    margin: 10px;
    width: 500px;
    border-radius: 8px;
    outline: none;
    height: 270px;
    resize: vertical; 
}

textarea:hover {
    border: 1px solid #0077C0;
    box-shadow: 0 1px 1px rgb(204, 204, 204);
    outline: none;
}

textarea:focus {
    border: 1px solid #0077C0;
    box-shadow: 0 1px 1px rgb(204, 204, 204);
}

.haveAccount {
    font-size: 15pt;
    margin-top: 20px;
    margin-bottom: 10px;
}

.div-home {
    padding: 60px 20px;
    width: 95%;
    margin: auto;
}

.profile-pic{
    border-radius: 10px;
    vertical-align: middle;

}

.todo-entry{
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    margin: 5px;
    border-radius: 8px;
}

.todo-entry.done{
    background-color: #93B5C6;
}

.todo-entry.pending{
    background-color: #C9CCD5;

}
/*
.todo-entry:nth-child(odd){
    background: rgb(255, 255, 255, 0.7);

}

.todo-entry:nth-child(even){
    background: rgb(225, 225, 225, 0.7);    
}
*/

.todo-entry:nth-child(1){
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    color: #FAFAFA;
    background: #0077C0;
    margin: 15px 10px;
}

.todo-entry li{

    display: inline-block;
    margin: 4px ;
    padding: 5px 10px;
    border-radius: 8px;
}

.todo-entry li:nth-child(1){
    width: 15%;
    min-width: 100px;
}

.todo-entry li:nth-child(2){
    width: 85%;
}

.todo-entry li:nth-child(3){
    width: 115px;
    min-width: 115px;
}

.todo-entry li:nth-child(4){
    border: transparent 1px solid;
}

.todo-entry li:nth-child(5){
    border: transparent 1px solid;
}

.todo-entry li:nth-child(6){
    border: transparent 1px solid;
}


#header-wrapper {
    background-color: #0077C0;
    color: #FAFAFA;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    box-shadow: 0 0 10px 5px #7d7d7d;

}

#top-left-menu {
    padding: 0 30px;
    height: 95%;
}
